<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".net.NetTestActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="net_test" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".multilist.MultiListActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="multi_list" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OtherHomeActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="other_home" />
            </intent-filter>
        </activity>
    </application>

</manifest>